@media screen and (min-width:900px) {
    header, main, nav, footer {
        max-width: 1100px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 40px auto;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        display: block;
        border-bottom: var(--faint-color-border);
    }

    .nav-menu li {
        text-align: center;
        border-bottom: none;
    }

    .nav-menu ul {
        flex-direction: row;
    }

    /* Cards */
    main {
        display: grid;
        grid-template-columns: 5fr 3fr;
    }

    h1, .card:last-child:nth-child(even) {
        grid-column: 1/-1;
    }

    .courses-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }

    .course {
        width: 100%;
    }

}